# Virtual Environment Directories/Files
bin
lib
share
pyvenv.cfg

# Jupyter Checkpoints
.ipynb_checkpoints

# Ignore I/0
Input/
Output/
Old/

# Ignore Image & Data Files
*.png
*.jpg
*.pdf
*.csv
*.html

# Pycache
*.pyc
__pycache__/

# Secrets
secrets.json
constants.py
users.csv

# Other
.gitattributes